{{!-- Creates the default HTML structure for Handlebars --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{!-- Houses the links for CSS, Fonts, and jQuery usage --}}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:ital@1&display=swap" rel="stylesheet">
        <title>Eat-Da-Burger!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burger.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>